<h1 class="qaevangelist-nav-margin">QA Evangelist and culture.</h1>


<h1 class="qaevangelist-h1-text">
<u>Q</u>uality <u>A</u>ssurance <u>A</u>nalyst <u>E</u>ngineer 
</h1>

<h2 class="qaevangelist-h2-text qaevangelist-banner-h2-text-border qaevangelist-home-h2-text-border">
	<u>Quality:</u> Character with respect to fineness or grade of excellence
<br>
	<u>Assurance:</u> A positive declaration intended to give confidence
<br>
	<u>Analyst:</u> A person who analyzes and designs or who is skilled in analysis
<br>
	<u>Engineer:</u> A logical thinker or problem solver; an architect, developer of software
</h2>


