<div class="homecarousel-text-1-opbg">
 <h1 class="qaevangelist-nav-margin">QA Evangelist and culture.</h1>
</div>
<p>
<u>Q</u>uality <u>A</u>ssurance <u>A</u>nalyst <u>E</u>ngineer 
</p>

<p class="qaevangelist-h2-text">
	<u>Quality:</u> Character with respect to fineness or grade of excellence
<br>
	<u>Assurance:</u> A positive declaration intended to give confidence
<br>
	<u>Analyst:</u> A person who analyzes and designs or who is skilled in analysis
<br>
	<u>Engineer:</u> A logical thinker or problem solver; an architect, developer of software
</p>


