<h1>Everyone one is in QA, including this site.</h1>
<p>What's the Quality Beat of your organization?</p>
<div class="center hero-unit">
  <h1>Under construction</h1>
</div>

<%= link_to image_tag("bucs.png", alt: "Rails"), 'http://buccaneers.com/' %>