
<h1>Quality Assurance Testing (QAT) when you need it.</h1>
 <h2>Both onsite and remote options available.  There is NO limitations on our testing; software, hardware, all is welcomed.</h2>
   <h2>(Under construction, but all services are fully available. Use below links to contact us. We will respond within 4 hours.)</h2>
  	<div class="marketing-box-shadow">
  	 <section class="banner-home">
  	 	<%=image_tag "qabeat-qat.jpg" %>
           <h1></h1>
      </div>
     </section>
    </div>
<div class="marketing-box-shadow">
 <div class="center hero-unit pricing-banner">
  <div class="container">
   <div class="row">
	<div class = "col-sm-4">
     <div class = "marketing-plan iron-plan marketing-plan-shadow">
      <h2 class = "marketing-item-banner">IRON PACKAGE</h2>
	  	 	<u>PRICE: $</u>
	  	 	<li>10 hours</li>
	  		<li>Manual testing</li>
			<li>Testing artifacts</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
  <button class="btn btn-large btn-primary" type="button">Learn more</button>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan gold-plan marketing-plan-shadow">
   <h2 class = "marketing-item-banner">GOLD PACKAGE</h2>
    <div class = "ribbon marketing-plan-shadow">BEST VALUE!</div>
		    <u>PRICE: $</u>
			<li>10 hours free, 40 hours</li>
			<li>QA consulting</li>
			<li>Manual & automated testing</li>
			<li>Testing artifacts</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
  <button class="btn btn-large btn-primary" type="button">Learn more</button>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan diamond-plan marketing-plan-shadow">
  <h2 class = "marketing-item-banner">DIAMOND PACKAGE</h2>
	  		<u>PRICE: $</u>
	  		<li>60 hours</li>
	  		<li>QA consulting</li>
	  		<li>Reports, Analytics & Testing artifacts</li>
			<li>Manual & automated testing</li>
			<li>Security testing</li>
			<li>Load & performance</li>
			<li>All specified browsers</li>
			<li>All specified mobile devices</li>
	 <button class="btn btn-large btn-primary" type="button">Learn more</button>
    </div>
   </div>
	<div class = "col-sm-4">
	 <div class = "marketing-plan custom-plan marketing-plan-shadow">
      <h2 class = "marketing-item-banner">CUSTOM PACKAGE</h2>
	  		<u>Contact us</u>
	  		<li>X-hours</li>

	 <button class="btn btn-large btn-primary" type="button">Contact Us</button>
    </div>
   </div>
  </div>
 </div>
</div>

