<h1>Everyone is in QA, including this site:)</h1>
<div class="center hero-unit">
	<h2>Quality assurance should be present in all areas on the SDL</h2>
  	 <h1>Under construction</h1>
  <nav>
     <ul>
      <a href="http://twitter.com/dougdykstra/">Twitter</a>
     </ul>
  </nav>
 <%= link_to image_tag("Bucs-Logo.png"), 'http://buccaneers.com/' %>
</div>