<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="footer.css.scss" type="text/css" />
<body>
<style>
img
{
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
img:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
h1, h2
{
text-shadow: 2px 2px 2px white;
}
</style>
</head>
<h1> --- UNDER CONSTRUCTION --- </h1>
<center>
<h1>Coming soon!</h1>
<h2>
<p>QA on demand. Automation. Security. How QA has evolved. Different approaches to QA; project vs commercial vs product. Better culture? Be "truly" transparent. QA starts at the beginning of SDLC and is present until the end. Eliminate most meetings; trust your team on what works.</p>
</h2>
</center>
<h1>Everyone is in QA, and QA is in everything we do; both personal and business.</h1>
	<div class="center hero-unit">
	   <h2>What's the Quality beat of your organization?</h2>
 		   <img src="qabeat-1.png" alt="Quality rhythm" width="100%" height="360">
 		   <br>  
	</div>


<!--
<%= link_to image_tag("bucslogo.png", alt: "buccaneers.com"), 'http://buccaneers.com/' %>
-->

<!--Home button; image link-->

<div id="footer">
	<ul id="footer_menu">
		<li class="homeButton"><a href="#">img</a></li>

		<!--Account button-->

		<li><a href="#">Messages</a>
			<div class="one_column_layout">
				<div class="col_1">
					<a class="headerLinks">Stream</a>
					<a class="listLinks">Placeholder</a>
					<a class="headerLinks">Messages</a>
					<a class="listLinks" style="font-weight:bold;color:white;">Inbox(5)</a>
					<a class="listLinks">Sent</a>
					<a class="listLinks">Trash</a>
					<a class="listLinks">Compose</a>
				</div>
			</div>
		</li>

		<!--Profile button-->
		<li><a href="#">Profile</a>
			<div class="three_column_layout">

				<div class="col_3">
					<h2>About me</h2>
				</div>

					<div class="clear"></div>

				<div class="col_1">
					<p>Placeholder 1</p>
				</div>
				<div class="col_1">
					<p>Placeholder 2</p>
				</div>
				<div class="col_1">
					<p>Placeholder 3</p>
				</div>

					<div class="clear"></div>

				<div class="col_1">
					<p class="black-box">Placeholder 4</p>
				</div>
				<div class="col_1">
					<p>Placeholder 5</p>
				</div>
				<div class="col_1">
					<p>Placeholder 6</p>
				</div>

					<div class="clear"></div>

				<div class="col_3">
					<h2>My Profile</h2>
				</div>

					<div class="clear"></div>

				<div class="col_3">
					<p>
						<img src="#" class="img_left whiteBorder" />
						<a style="display:inline;font-weight:bold;color:white;">Doug Dykstra</a><br>
						<a href="#">Read more...</a>
					</p>
				</div>
			</div>

			<!--Need to create 2 column layout-->

		</li>

		<!--Program button-->
		<li>
			<a href="#">Services</a>
			<ul class="dropup">
				<li><a href="#">Placeholder 1</a></li>
				<li><a href="#">Placeholder 2</a></li>
				<li><a href="#">Placeholder 3</a></li>
				<li><a href="#">Placeholder 4</a></li>
			</ul>
		</li>

		<!--Logout button-->
		
		<li class="right"><a href="#">Log out</a></li>
</ul>

	<!--Notification inluding popup on the last notification-->

<ul id="notifications">
	<li><a href="#" class="notificationIcons"><img src="#"></a></li>
	<li><a href="#" class="notificationIcons"><img src="#"></a></li>
	<li><a href="#" class="notificationIcons"><img src="#">
			<span>
				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: white">Doug Fresh liked your post : My name is DFresh</div> 
				<hr style="border:none; border-bottom:1px solid #777777;" />

				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: white">Doug Fresh liked your post : My name is Pete</div> 
				<hr style="border:none; border-bottom:1px solid #777777;" />

				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: #white">Doug Fresh liked your post : My name is Michael</div> 
				
			</span>
		</a>
	</li>
  </ul>
 </div>
</body>
</html>