<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="home_page.css.scss" />
  <link rel="stylesheet" href="footer.css" type="text/css" />
   <body>
   <style>

   </style>
 </head>
<h1>Quality assurance and testing when you need it.</h1>
 <h2>Both onsite and remote options available.</h2>
  <br> 
  	<div id = "pricingheader">
	 <div class="center hero-unit">
	  <div id = "iron_plan">
	  	<p id = "ironheader">IRON PLAN</p>
	  	 	<u>PRICE: Coming soon</u>
	  		<li>Service 1</li>
			<li>Service 2</li>
			<li>Service 3</li>
			<li>Service 4</li>
			<li>Service 5</li>
			<li>Service 6</li>
		 	<h2 id = "ironbutton">Buy Now</h2>
	  </div>
	  <div id = "gold_plan">
	    <div class = "ribbon">BEST VALUE!</div>
	     <p id = "goldheader">GOLD PLAN</p>
		    <u>PRICE: Coming soon</u>
			<li>Service 1</li>
			<li>Service 2</li>
			<li>Service 3</li>
			<li>Service 4</li>
		 	<h2 id = "goldbutton">Buy Now</h2>
	  </div>
	  <div id = "diamond_plan">
	   <p id = "diamondheader">DIAMOND PLAN</p>
	  		<u>PRICE: Coming soon</u>
	  		<li>Service 1</li>
			<li>Service 2</li>
			<li>Service 3</li>
			<li>Service 4</li>
			<li>Service 5</li>
			<li>Service 6</li>
			<h2 id = "diamondbutton">Buy Now</h2>
	  </div>
 		   <!--<img src="qabeat-default-notes.png" alt="Quality rhythm" width="100%" height="360">-->
</div>

<!--Home button; image link-->

<div id="footer">
	<ul id="footer_menu">
		<li class="homeButton"><a href="#">img</a></li>

		<!--Account button-->

		<li><a href="#">Section 1</a>
			<div class="one_column_layout">
				<div class="col_1">
					<a class="headerLinks">Topic 1</a>
					<a class="listLinks">Placeholder </a>
					<a class="headerLinks">Topic2</a>
					<a class="listLinks" style="font-weight:bold;color:white;">Test</a>
					<a class="listLinks">Link 1</a>
					<a class="listLinks">Link 2</a>
					<a class="listLinks">Link 3</a>
				</div>
			</div>
		</li>

		<!--Profile button-->
		<li><a href="#">Profile</a>
			<div class="three_column_layout">

				<div class="col_3">
					<h2>About me</h2>
				</div>

					<div class="clear"></div>

				<div class="col_1">
					<p>Placeholder 1</p>
				</div>
				<div class="col_1">
					<p>Placeholder 2</p>
				</div>
				<div class="col_1">
					<p>Placeholder 3</p>
				</div>

					<div class="clear"></div>

				<div class="col_1">
					<p class="black-box">Placeholder 4</p>
				</div>
				<div class="col_1">
					<p>Placeholder 5</p>
				</div>
				<div class="col_1">
					<p>Placeholder 6</p>
				</div>

					<div class="clear"></div>

				<div class="col_3">
					<h2>My Profile</h2>
				</div>

					<div class="clear"></div>

				<div class="col_3">
					<p>
						<img src="#" class="img_left whiteBorder" />
						<a style="display:inline;font-weight:bold;color:white;">Doug Dykstra</a><br>
						<a href="#">Read more...</a>
					</p>
				</div>
			</div>

			<!--Need to create 2 column layout-->

		</li>

		<!--Program button-->
		<li>
			<a href="#">Services</a>
			<ul class="dropup">
				<li><a href="#">Placeholder 1</a></li>
				<li><a href="#">Placeholder 2</a></li>
				<li><a href="#">Placeholder 3</a></li>
				<li><a href="#">Placeholder 4</a></li>
			</ul>
		</li>

		<!--Logout button-->
		
		<li class="right"><a href="#">Log out</a></li>
</ul>

	<!--Notification inluding popup on the last notification-->

<ul id="notifications">
	<li><a href="#" class="notificationIcons"><img src="#"></a></li>
	<li><a href="#" class="notificationIcons"><img src="#"></a></li>
	<li><a href="#" class="notificationIcons"><img src="#">
			<span>
				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: white">Doug Fresh liked your post : My name is DFresh</div> 
				<hr style="border:none; border-bottom:1px solid #777777;" />

				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: white">Doug Fresh liked your post : My name is Pete</div> 
				<hr style="border:none; border-bottom:1px solid #777777;" />

				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: #white">Doug Fresh liked your post : My name is Michael</div> 
				
			</span>
		</a>
	</li>
  </ul>
 </div>
</body>
</html>