<div class="banner-home">


	<h1 class="banner-content-top homebanner-text-border">What's the beat of your organization? Quality should be present in all areas of your company, not just testing.</h1>
<!--
  	   <h2 class="banner-content-bottom homebanner-text-border" >Quality in a company is like instruments in a band.  Every instrument must play it's part for the band and music to be successful.  The same goes for quality in a company.  Every team member must be accountable and quality must be present in all phases of the SDLC for a company to be truly successful and one that can sustain in this fast paced industry.</h2>

 -->
  	   <div class="home-nav-margin">
  	 	<%=image_tag "qabeat-qat.jpg" %></div>
</div>
   <h1>We do it all in the world of Quality Assurance.  <br>We tailor all of our services to your company's needs.</h1>
    <h2 class="home-h2-text-border" style="margin-left:200px;">From on-demand quality assurance testing, to consulting, to qa culture, we'll change the way you think about quality assurance. Check out all of our services and contact us today!</h2>
     <h1>Quality Assurance Testing (QAT) on demand. <br>Testing when you need it.</h1>
      <h2 class="home-h2-text-border" style="margin-left:200px;">Both onsite and remote options available. There are NO limitations to our testing; software, hardware, all is welcomed.  We have our specific testing frameworks we use, but we can also easily adapt to your company's frameworks; both commercial and proprietary.</h2>
 <div class="center hero-unit pricing-banner">
  <div class="container">
   <div class="row">
	<div class = "col-sm-4">
     <div class = "marketing-plan iron-plan">
      <h2 class = "marketing-item-banner marketing-banner-h2-text-border">IRON PACKAGE</h2>
       <div class="iron-marketing-package-details-border">
	  	 	<u>PRICE: $300</u>
	  	 	<li>10 hours</li>
	  		<li>Manual testing</li>
			<li>Testing artifacts & Bug tracking</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
	 </div>		
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan gold-plan">
   <h2 class = "marketing-item-banner marketing-banner-h2-text-border">GOLD PACKAGE</h2>
    <!--<div class = "ribbon">BEST VALUE!</div>-->
     <div class="gold-marketing-package-details-border">
		    <u>PRICE: $500</u>
			<li>10 hours free, 40 hours</li>
			<li>QA consulting</li>
			<li>Manual & Automated testing</li>
			<li>Testing artifacts & Bug tracking</li>
			<li>All latest browsers</li>
			<li>Select mobile devices</li>
     </div>
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<div class="col-sm-4">
 <div class = "marketing-plan diamond-plan">
  <h2 class = "marketing-item-banner marketing-banner-h2-text-border">DIAMOND PACKAGE</h2>
   <div class="diamond-marketing-package-details-border">
	  		<u>PRICE: $1,000</u>
	  		<li>80 hours</li>
	  		<li>QA consulting</li>
	  		<li>Reports</li> 
	  		<li>Testing artifacts & Bug tracking</li>
			<li>Manual & automated testing</li>
			<li>Security testing</li>
			<li>Load & performance</li>
			<li>All specified browsers</li>
			<li>All specified mobile devices</li>
   </div>
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Learn more</button></a>
 </div>
</div>

<!--
<div class = "col-sm-4">
 <div class = "marketing-plan custom-plan">
   <h2 class = "marketing-item-banner marketing-banner-h2-text-border">CUSTOM PACKAGE</h2>
   <div class="custom-marketing-package-details-border">
   	Whether it's consulting, testing, or just automation, we have a plan for you. Contact us and set up a meeting so we can discuss all available options to meet your needs.
   </div>  	
  <a href="/qat_on_demand/qatondemand#"><button class="btn btn-large btn-primary" type="button">Contact Us</button></a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
-->

