
<h1>Quality Assurance Testing (QAT) when you need it.</h1>
 <h2>Both onsite and remote options available.</h2>
   <h2>(Under construction, but fully available --use below links to contact us. We will respond within 4 hours.)</h2>
  	<div class="marketing-box-shadow">
  	 <section class="banner-home">
  	 	<%=image_tag "qabeat-qat.jpg" %>
           <h1></h1>
      </div>
     </section>
    </div>
<div class="marketing-box-shadow">
 <div class="center hero-unit pricing-banner">
  <div class="container">
  	<div class="row">
	 <div class = "col-md-4">
      <div class = "marketing-plan iron-plan marketing-plan-shadow">
       <h2 class = "marketing-item-banner">IRON PLAN</h2>
	  	 	<u>PRICE: $</u>
	  	 	<li>10 hours</li>
	  		<li>Manual testing</li>
			<li>Testing artifacts</li>
			<li>All browsers</li>
			<li>Select mobile devices</li>
  <button class="btn btn-large btn-primary" type="button">Learn more</button>
 </div>
</div>

<div class="col-md-4">
 <div class = "marketing-plan gold-plan marketing-plan-shadow">
   <h2 class = "marketing-item-banner">GOLD PLAN</h2>
    <div class = "ribbon marketing-plan-shadow">BEST VALUE!</div>
		    <u>PRICE: $</u>
			<li>10 hours free, 40 hours</li>
			<li>QA consulting</li>
			<li>Manual & automated testing</li>
			<li>Testing artifacts</li>
			<li>All browsers</li>
			<li>Select mobile devices</li>
  <button class="btn btn-large btn-primary" type="button">Learn more</button>
 </div>
</div>

<div class="col-md-4">
 <div class = "marketing-plan diamond-plan marketing-plan-shadow">
  <h2 class = "marketing-item-banner">DIAMOND PLAN</h2>
	  		<u>PRICE: $</u>
	  		<li>60 hours</li>
	  		<li>QA consulting</li>
	  		<li>Reports & Analytics</li>
			<li>Manual & automated testing</li>
			<li>Security testing</li>
			<li>Load & performance</li>
			<li>All browsers</li>
			<li>Any specified mobile devices</li>
	 <button class="btn btn-large btn-primary" type="button">Learn more</button>
    </div>
   </div>
  </div>
 </div>
</div>

