
<h1>Quality Assurance Testing when you need it.</h1>
 <h2>Both onsite and remote options available.</h2>
  <br> 
  	<section class="banner">
       <div class="banner-content">
           <h1></h1>
       </div>
    </section>

<div class="center hero-unit" id = "pricingheader">
 <div class="container">
  <div class = "iron-plan" class="marketing-item">
   <p class = "marketing-item-banner">IRON PLAN</p>
	 <br>
	  	 	<u>PRICE: $299</u>
	  		<li>Service 1</li>
			<li>Service 2</li>
			<li>Service 3</li>
			<li>Service 4</li>
			<li>Service 5</li>
			<li>Service 6</li>
	 <br>
  <button class="btn btn-large btn-primary" type="button">Learn More</button>
 </div>
<div id = "gold-plan" class="marketing-item">
 <div class = "ribbon">BEST VALUE!</div>
  <p class = "marketing-item-banner">GOLD PLAN</p>
	 <br>
		    <u>PRICE: $699</u>
			<li>Service 1</li>
			<li>Service 2</li>
			<li>Service 3</li>
			<li>Service 4</li>
			<li>Service 5</li>
			<li>Service 6</li>
	 <br>
	<button class="btn btn-large btn-primary" type="button">Learn More</button>
  </div>
<div class = "diamond-plan" class="marketing-item">
  <p class = "marketing-item-banner">DIAMOND PLAN</p>
	 <br>
	  		<u>PRICE: $899</u>
	  		<li>Service 1</li>
			<li>Service 2</li>
			<li>Service 3</li>
			<li>Service 4</li>
			<li>Service 5</li>
			<li>Service 6</li>
			<br>
	<button class="btn btn-large btn-primary" type="button">Learn More</button>
  </div>
 </div>
 		   <!--<img src="qabeat-default-notes.png" alt="Quality rhythm" width="100%" height="360">-->
</div>

