// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html, body {
    background-color:#71AFCE;
}

.home-nav-margin{
   padding-top: 28px;
}

/* Bootstrap top nav bar; overwrite default */

.navbar-style {
    background-color: #113851;
    font-family: geneva;
    /*font-weight: bold; color: #25CDD9;*/
    border-radius: 0 !important;
    border: 0 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #71AFCE;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #FFFFFF;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #25CDD9;
    white-space: nowrap;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #25CDD9;
    color: #FFFFFF;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #25CDD9;
    white-space: nowrap;
}

/* Bootstrap font awesome */

.fa-2x {
    font-size: 1.55em;
    color: black;
    padding-top: 5px;
    box-shadow: none;

}

/* Bootstrap carousel */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 630px;
    width: 100%;
    margin-top: 51px;
}

/* Parallax srolling */

.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
  background: asset-url('grass-bg.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
  background: asset-url('tree-bg.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {

  background: asset-url('winter-bg.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

/* 3d css webkits */
.div-3d
{
-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
transition: width 2s;
}

.div-3d:hover
{
width:300px;
}

/* Responsive Structure */

#r-iphone{
  
}

@media (max-width:500px) {
    #r-small {
    background-color: #777777;
  }
}

/* universal */

.center {
    text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    text-align: left;
    margin-left: 10px;
    color: #113851;
    font-family: geneva;
    /*text-shadow: 0.1em 0.1em 0.2em #888888*/
}

h2 {
    font-size: 1.3em;
    line-height: 1.7em;
    text-align: none;
    font-family: geneva;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

.brand-logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #909090;
    letter-spacing: -1px;
    padding-top: 5px;
    font-weight: none;
    line-height: -1;

      img {
        max-width: 100px;
        max-height: 40px;
      }
}

.brand-logo:hover {
    color: #F0F0F0;
    text-decoration: none;
}

.banner-home {
  padding-top: 22px;

    img {
      width: 100%;
  }
}

/* asset-url('qabeat-home-banner.jpg') no-repeat center -400px; */
/* background-size: cover; */
/* margin-bottom: 75px; */

.banner-content-top{
    position: absolute;
    z-index: 100%;
    text-align: left;
    left: 420px;
    top: 115px;
    /*text-shadow: 0.1em 0.1em 0.2em black*/
}

.banner-content-bottom{
    position: absolute;
    z-index: 100%;
    text-align: left;
    left: 606px;
    top: 257px;
    color: rgb(224, 234, 238);
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-right: 54px;
    font-size: xx-large;
}

/* Border around text */

.home-h2-text-border{
    border:1px solid #F0F0F0;
    border-radius: 2px;
    /*box-shadow: 0px 0px 15px #888888;*/
    background-color: #113851;
    padding-left: 17px;
    margin-right: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;

}

.homebanner-text-border{
    border-radius: 1px;
    /*box-shadow: 0px 0px 15px #888888;*/
    background-color:rgba(12, 184, 238, 0.4);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 160px;
    margin-left: 75px;
    border-radius: 10px;
}

/* Background header behind pricing options */

.pricing-banner {
    padding: 4em;
    background: #113851;
    margin-bottom: 100px;
    margin-top: 60px;
    background-color:rgba(51, 66, 243, 0.2);
    padding-top: 60px;
}

/* Payment plans; container box for payment plans */

.marketing-item-banner {
    padding: .25em 10%;
    margin-top: 1;
    background: #F0F0F0;
    border:1px solid #F0F0F0;
}

.marketing-banner-h2-text-border{
    border:1px solid #F0F0F0;
    border-radius: 0px;
    /*box-shadow: 0px 0px 15px #888888;*/
    background-color:rgba(51, 66, 243, 0.2);
    padding-left: 17px;
}

/* Package marketing borders on each individual package content */

.iron-marketing-package-details-border {
    border:1px solid #F0F0F0;
    border-color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 120px;
    margin-top: 36px;
}

.gold-marketing-package-details-border {
    border:1px solid #F0F0F0;
    border-color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: 35px;
}

.diamond-marketing-package-details-border {
    border:1px solid #F0F0F0;
    border-color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 43px;
    margin-top: 35px;
}

.custom-marketing-package-details-border {
    border:1px solid #F0F0F0;
    border-color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 120px;
    margin-top: 36px;
}

.marketing-content{
    font-size: 20px;
}

.marketing-box-shadow{
    box-shadow: 0px 0px 15px #888888;
}

.marketing-plan-shadow{
    box-shadow: 0px 0px 35px #888888;
}

/* Bootstrap grid layout for package plans */

.marketing-plan {
    height:386px;
    width:300px;
    border:1px solid #F0F0F0;
    border-radius: 0px;

}

.iron-plan{
    border:1px solid #F0F0F0;
    background-color: #BFF6FA
}

.gold-plan {
    border:1px solid #F0F0F0;
    background-color: #BFF6FA;
}

.diamond-plan {
    border:1px solid #F0F0F0;
    background-color: #BFF6FA;
}

.custom-plan {
    border:1px solid #F0F0F0;
    background-color: #CC6666;
    margin-left: 390px;
    margin-top: 30px;
}

/* Best value ribbon */

.ribbon {
     font-size: 11px;
     width: 144px;
     height: 27px;   
     background: #CC3333;
     color: white;
     position: relative;
     border-radius: 4px;
     text-align: center;
     padding: .60em 2em; 
     top: -62px;
     right: -182px; 
     z-index: 1;
}

.ribbon:before, .ribbon:after {
     content: "";
     position: absolute;
     display: block;
     bottom: -1em;
     border: 1.2em solid #CC3333;
     z-index: -1;
     border-radius: 3px;
}

.ribbon:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent;
}

.ribbon:after {
     right: -2em;
     border-left-width: 1.5em;
     border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #804f7c transparent transparent transparent;
     bottom: -1em;
}

.ribbon .ribbon-content:before {
     left: 10;
     border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
     right: 0;
     border-width: 1em 1em 0 0;
}

.ribbon{
    -ms-transform:rotate(30deg); 
    -webkit-transform:rotate(30deg); 
    transform:rotate(30deg); 
}

