<html>
<body>
	<head>
<h1>BlogPage</h1>
<link rel="stylesheet" href="footer.css" type="text/css" />
<p>Coming soon</p>

</head>
<!--Home button; image link-->

<div id="footer">
	<ul id="footer_menu">
		<li class="homeButton"><a href="/">Home</a></li>

		<!--QA Culture button-->

		<li><a href="#">QA Culture</a>
			<div class="one_column_layout">
				<div class="col_1">
					<a class="headerLinks">How QA has evolved</a>
					<a class="listLinks">Placeholder </a>
					<a class="headerLinks">QA is in everything</a>
					<a class="listLinks" style="font-weight:bold;color:white;">Test</a>
					<a class="listLinks">Link 1</a>
					<a class="listLinks">Link 2</a>
					<a class="listLinks">Link 3</a>
				</div>
			</div>
		</li>

		<!--About button-->
		<li><a href="#">About</a>
			<div class="three_column_layout">

				<div class="col_3">
					<h2>About me</h2>
				</div>

					<div class="clear"></div>

				<div class="col_1">
					<p>Placeholder 1</p>
				</div>
				<div class="col_1">
					<p>Placeholder 2</p>
				</div>
				<div class="col_1">
					<p>Placeholder 3</p>
				</div>

					<div class="clear"></div>

				<div class="col_1">
					<p class="black-box">Placeholder 4</p>
				</div>
				<div class="col_1">
					<p>Placeholder 5</p>
				</div>
				<div class="col_1">
					<p>Placeholder 6</p>
				</div>

					<div class="clear"></div>

				<div class="col_3">
					<h2>My Profile</h2>
				</div>

					<div class="clear"></div>

				<div class="col_3">
					<p>
						<img src="#" class="img_left whiteBorder" />
						<a style="display:inline;font-weight:bold;color:white;">Doug Dykstra</a><br>
						<a href="#">Read more...</a>
					</p>
				</div>
			</div>

			<!--Need to create 2 column layout-->

		</li>

		<!--Services button-->
		<li>
			<a href="#">Services</a>
			<ul class="dropup">
				<li><a href="#">QA Consulting</a></li>
				<li><a href="#">QA OnDemand</a></li>
				<li><a href="#">Automation</a></li>
				<li><a href="#">Security</a></li>
			</ul>
		</li>

		<!--Logout button-->
		
		<li class="right"><a href="#">Log out</a></li>
</ul>

	<!--Notification inluding popup on the last notification-->

<ul id="notifications">
	<li><a href="#" class="notificationIcons"><img src="email.png"></li>
	<li><a href="https://www.facebook.com/dykstra.doug" class="notificationIcons"><img src="Facebook_thumb.png"></li>
	<li><a href="http://twitter.com/dougdykstra/" class="notificationIcons"><img src="twitter_button.jpg">
			<span>
				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: white">Doug Fresh liked your post : My name is DFresh</div> 
				<hr style="border:none; border-bottom:1px solid #777777;" />

				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: white">Doug Fresh liked your post : My name is Pete</div> 
				<hr style="border:none; border-bottom:1px solid #777777;" />

				<img src="#" style="float:left; width:24px; margin-right:5px;" />
				<div style="display:inline; color: #white">Doug Fresh liked your post : My name is Michael</div> 
				
			</span>
		</a>
	</li>
  </ul>
 </div>
</body>
</html>
